.contact__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

@media (max-width: 700px) {
    .contact__wrapper {
        flex-direction: column;
    }
}


