.link__list {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.link__item {
    color: black;
    text-decoration: none;
}

.link__text {   
    padding-bottom: .3rem;
    font-size: 1rem;
    color: #000000;
}

.link__excerpt {   
    padding-bottom: .2rem;
    font-size: .8rem;
}

.link__date {
    font-size: .7rem;
    padding-bottom: 1.5em;
}
