.link__list {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.link__thumbnail {
    float: left;
    max-width: 20rem;
    padding-right: 1rem;
}

@media (max-width:800px) {
    .link__thumbnail {
        max-width: 10rem;
    }
}
