/* Logo */

.logo {
    margin: .7rem auto;
    width: 20rem;
    height: 3rem;
    background-image: url("../images/logo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/* Footer */

.footer {
    margin: 0;
}

.footer__copyright {
    width: 100%;
    text-align: center;
    font-size: .7rem;
}

.footer__logo {
    border: 1px solid red;
}

