.header {
    margin: 0 auto;
    max-width: 960px;
}

.header__wrapper {
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
}

.header__logo {
    border: "2px solid blue";
    width: 10rem;
    height: 2rem;
    background-image: url("../images/logo.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}


.header__searchBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__search {
    margin-left: 1rem;
    padding: .2rem 1rem;
    border-radius: 5px;
    border: none;
    font-size: .7rem;
}

.header__search:focus{
    outline: none;
    background-color: #777777;
    color: white;
}

.header__language {
    font-size: inherit;
    font-size: .7rem;
}






