.menu {

}


.menu__list {
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: 4rem;
    background-color: #E93F33;
}

.menu__item {
    list-style: none;
    height: 20px;
}

.menu__link {
    text-decoration: none;
    color: white;
}