.menu__list {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #E93F33;
}

.menu__item {
    transform: translateY(5px);
    list-style: none;
}

.menu__link {
    text-decoration: none;
    color: white;
}