/* sidebar */
.list {
    width: 100%;
    background-color: #F7F7F7;
}

/* product */

.product {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    border-top: 1px black solid;
}

.product__name {
    padding: .2rem .5rem;
    width: 100%;
    color: red;
}

.product__photo {
    padding: 0rem;
    margin: 0;
    width: 100%;
}